<sly data-sly-use.model="com.bi.aem.yammer.demo.core.models.Yammer"/>

<div id="${model.identifier}" class="yammer_control"></div>

<script type="text/javascript">
        yam.connect.embedFeed({
	  "config": {
	    "use_sso": ${model.useSSO @ context='scriptString'},
	    "header": ${model.header @ context='scriptString'},
	    "footer": ${model.footer @ context='scriptString'},
	    "showOpenGraphPreview": ${model.showOpenGraphPreview @ context='scriptString'},
	    "defaultToCanonical": ${model.defaultToCanonical @ context='scriptString'},
	    "hideNetworkName": ${model.hideNetworkName @ context='scriptString'}
	  },
	  "container": "#${model.identifier @ context='scriptString'}"
	});
</script>
