<sly data-sly-use.lib="../template.html">

	<sly data-sly-use.model="com.bi.aem.yammer.demo.core.models.Yammer"/>
	
	<div id="${model.identifier}"  class="yammer_control"></div>
	<sly data-sly-call="${lib.yammerFeed @ 
		model=model,
		feedType='user'}">
	</sly>
</sly>