<template data-sly-template.yammerFeed="${@ model, feedType}">
    <script type="text/javascript">
	yam.connect.embedFeed({
	  container: "#${model.identifier @ context='scriptString'}",
	  network: "${model.network @ context='unsafe'}",
	  feedType: "${feedType @ context='scriptString'}",
	  feedId: "${model.feedId @ context='scriptString'}",
	  config: {
	      defaultGroupId: "${model.defaultGroupId @ context='scriptString'}"
	  }
	});
	</script>
</template>